.card{
  background: rgb(254, 254, 254);

}



.text-light{
position: relative;
top: 31px;


}

body{
  background-image: url("/image/mern.jpg");
  
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}